
<br>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div style="text-align: center;">
  <h2>Search Here</h2>
  <br>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput [(ngModel)]="form.text" name="formText">

    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">Find</button>

  </form>
</div>

<mat-grid-list cols="1" rowHeight="150px" >

  <mat-grid-tile >
    <mat-card class="elevation-demo-surface">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>GitHub</mat-card-title>
        <mat-card-subtitle>Repositories</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Sorted By</mat-label>
          <mat-select [(value)]="form.sort" (selectionChange)="onSortChange($event)">
            <mat-option>None</mat-option>
            <mat-option value="stars">Stars</mat-option>
            <mat-option value="forks">Forks</mat-option>
            <mat-option value="updated">Updated At</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>

  <div *ngFor="let data of dataRepo; let i=index;">
      <mat-grid-tile >
        <mat-card class="example-card ">
          <mat-card-header style="text-align: left;">
            <div mat-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + data.owner.avatar_url + ')'}"></div>
            <mat-card-title><a href="{{data.html_url}}" target="_blank">{{data.full_name}}</a></mat-card-title>
            <mat-card-subtitle>{{data.owner.login}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="left">
            <span> <mat-icon>account_tree</mat-icon> {{data.forks}} </span>
            <span> - <mat-icon>star</mat-icon> {{data.stargazers_count}} </span>
            <span> - Updated at {{data.updated_at | date:'dd MMMM yyyy'}}</span>
            <span> . <button mat-stroked-button color="primary" (click)="showDetail(data.full_name)">More Info</button></span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </div>

  <mat-grid-tile >
    <mat-paginator [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="getServerData($event)"
      aria-label="Select page">
  </mat-paginator>
  </mat-grid-tile>
</mat-grid-list>



